<mat-input-container [ngStyle]="{'width': width}">
  <input mdInput #autoCompleteInputField
         placeholder="{{placeholder}}"
         [autocomplete]="auto"
         [(ngModel)]="model"
         [formControl]="control"
         (input)="search($event)">
</mat-input-container>

<mat-autocomplete #auto="matAutocomplete">
  <mat-option *ngFor="let suggestion of suggestions"
             [value]="suggestion[fieldToDisplay]"
             (onSelectionChange)="onSelect(suggestion)"
             [ngClass]="{'highlight-option': suggestion.highlight, 'sub-option': !suggestion.highlight && ordered}"
             [disabled]="suggestion.disabled">
    {{suggestion[fieldToDisplay]}}
  </mat-option>
</mat-autocomplete>
