.extend {
  right:0px;
  transition: 0.3s
}

.retract {
  right:-100%;
  transition: 0.3s
}

.right-popin-container {
  overflow: scroll;
  width: auto;
  background-color: rgba(255, 255, 255, 0.8);
  /*background-color: rgba(255, 255, 255, 0.8);*/
  position: fixed;
  display: block;
  z-index:200;

  top:0;
  height: 100vh;
  padding-top: 100px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.buttonExtend {
  right:69px;
  transition:0.3s;
}

.buttonRetract {
  right:-14px;
  transition:0.3s;
}

.buttonOpen{
  position: absolute;
  z-index:1;
  color:white;
  padding:15px;
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
  border-radius:50%;
  font-size:16pt;
  margin-right: 0 !important;
  margin-bottom:16px;
  background: #ffe680 !important;
  transition:0.3s;
}
