
<mmi-block title="{{'UPLOAD_COMPONENT.TITLE' | translate}}">
  <i id="idUpload"  style="float:left; cursor:pointer; margin-top: -45px"
     class="material-icons md-light md-action-button {{theme}}-block-title"
     (click)="closePopin()"
     pTooltip="Close"
     tooltipPosition="top">close</i>
  <div class="block">

    <div class="row">

      <div class="large-4 medium-4 columns end">

        <div ng2FileDrop
             [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
             (fileOver)="fileOverBase($event)"
             [uploader]="uploader"
             class="well my-drop-zone">
          {{'UPLOAD_COMPONENT.UPLOAD_DROP_ZONE' | translate}}
        </div>

        <input type="file" ng2FileSelect [uploader]="uploader" multiple /><br/>

        <input type="file" ng2FileSelect [uploader]="uploader"/>

      </div>

      <div class="large-8 medium-8 columns" style="margin-bottom: 40px">

        <table width="95%">

          <thead>
          <tr style="height:35px" class="headers">
            <th width="30%">{{'UPLOAD_COMPONENT.FILENAME_COLUMN' | translate}}</th>
            <th width="20%">{{'UPLOAD_COMPONENT.SIZE_COLUMN' | translate}}</th>
            <th width="20%">{{'UPLOAD_COMPONENT.PROGRESS' | translate}}</th>
            <th width="15%">{{'UPLOAD_COMPONENT.UPLOAD_STATUS' | translate}}</th>
            <th width="15%">{{'UPLOAD_COMPONENT.UPLOAD_ACTIONS' | translate}}</th>
          </tr>
          </thead>

          <tbody>
          <tr *ngFor="let item of uploader.queue">
            <td><strong>{{item?.file?.name }}</strong></td>
            <td nowrap>{{ item?.file?.size}}</td>
            <td>
              {{item.progress + '%'}}
            </td>
            <td style="text-align: center;">
              <span *ngIf="item.isSuccess"><i class="material-icons">done</i></span>
              <span *ngIf="item.isCancel"><i class="material-icons">cancel</i></span>
              <span *ngIf="item.isError"><i class="material-icons">cancel</i></span>
              <span *ngIf="!item.isError && !item.isCancel && !item.isSuccess">&nbsp;</span>
            </td>
            <td nowrap style="text-align: right;">

              <i id="itemUpload"  style="cursor:pointer;"
                 class="material-icons md-light md-action-button {{theme}}-block-title"
                 (click)="uploadItem(item)"
                 pTooltip="Upload a file"
                 tooltipPosition="top">file_upload</i>

              <i id="itemRemove" style="cursor:pointer;"
                 class="material-icons md-light md-action-button {{theme}}-block-title"
                 (click)="item.remove()"
                 pTooltip="Remove the selected upload"
                 tooltipPosition="top">delete</i>

            </td>
          </tr>

          <tr style="text-align: right;">
            <td colspan="5" *ngIf="uploader.queue.length > 1">

              <i id="uploadAll" style="cursor:pointer;"
                 class="material-icons md-light md-action-button {{theme}}-block-title"
                 (click)="uploadAllItems()"
                 pTooltip="Upload all files"
                 tooltipPosition="top">file_upload</i>

              <i id="cancelAll" style="cursor:pointer;"
                 class="material-icons md-light md-action-button {{theme}}-block-title"
                 (click)="uploader.cancelAll()"
                 pTooltip="Cancel all uploads"
                 tooltipPosition="top">cancel</i>

              <i id="removeAll" style="cursor:pointer;"
                 class="material-icons md-light md-action-button {{theme}}-block-title"
                 (click)="uploader.clearQueue()"
                 pTooltip="Remove all uploads"
                 tooltipPosition="top">delete</i>

            </td>
          </tr>

          <tr style="text-align: left;">
            <td colspan="5">
              <div>
                <br/>
                <br/>
                {{'UPLOAD_COMPONENT.UPLOAD_QUEUE_PROGRESS' | translate}}
                <mat-progress-bar mode="determinate" [value]="uploader.progress"></mat-progress-bar>
              </div>
            </td>

          </tr>

          </tbody>

        </table>

      </div>

    </div>

  </div>


</mmi-block>
