.table-consult {
  margin-left:-1px; border-spacing: 0;
}

.checkBox-column {
  width: 40px;
}

.headers {
  height: 35px;
}
.headers th {
  text-align: center;
  color: white;
  font-weight: normal;
  font-size: 14px;
  border-left: none !important;
  border-top: none !important;
  border-bottom: none !important;
  border-right: solid 1px white;
}

.tr-consult {
  height: 51px;
}

.td-checkbox {
  display: inline-block;
  width: 40px;
  margin-top: 6px;
  padding-left: 9px;
}

.td-align-text-1 {
  text-align: left;
  padding-left: 15px;
}

.td-align-text-2 {
  text-align: center;
}

.td-align-text-3 {
  text-align: right;
  padding-right: 15px;
}

.regroup-row-1 {
  background-color: white !important;
}

.regroup-row-2 {
  background-color: #F1F3F4 !important;
}
