/*styles for home content only*/
p{
  text-align: center;
}
.version-number{
  font-size: 14px;
  color:#54a9ff;
}
.app-name{
  font-family: 'Impact';
}
.logo-unity{

  width:100px;
  margin-bottom:-20px;
}

.title {
  color: white;
}
