
<script src="../../../../../../../Old/sc-unity/src/app/app.routes.ts"></script>
<div class="template">

  <div class="row row-padding">
    <div class="large-12 columns">
      <h4>Shell #1</h4>
      <div class="row ">
        <div class="large-12 columns">
          <!-- button md-raised-button routerLink='/commercial/deal/form'>{{'DEAL.FORM.CREATE_DEAL' | translate}}</button -->
        </div>
      </div>
      <br>
      <h4>Shell #2</h4>
      <div class="row ">
        <!-- div class="large-12 columns">
          <button md-raised-button routerLink='/video/po-search-action'>{{'MENU.MATERIAL.PURCHASE_ORDER_VALIDATION' |
            translate}}
          </button>
          <button md-raised-button routerLink='/video/sap-order-table'>{{'MENU.MATERIAL.SAP_ORDER' | translate}}
          </button>
          <button md-raised-button routerLink='/video/validate-product'>{{'PRODUCT_VALIDATE.TITLE' | translate}}
          </button>
          <button md-raised-button routerLink='/video/delivery'>{{'MENU.MATERIAL.DELIVERY' | translate}}
          </button>
        </div -->
      </div>
    </div>
  </div>
</div>
