.actions-container{
  position: fixed;
  bottom: 0px;
  right:0px;
  padding-right:5px;
}
.actions-list{
  display: block !important;
  margin-bottom:16px;
  list-style: none;
}

.action{
  bottom:0;
  margin-top:10px;
  position: relative;
  text-align: center !important;
  cursor: pointer;
}


.action > i {
  font-size:16pt;
  border-radius:50%;
  margin-right: 0 !important;
  background:#EEE;
}

.action > i:active {
  color: #363636;
  background:#EEE !important;
}

.action > .fa {
  padding:15px;
  color:white;
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}



.action-retract{
  transition:0.5s all ease-in-out;
  transform: scale(0);
}

.action-extend{
  transform: scale(1);
  transition:0.5s;
}

.toggle-container{
  display: block;
  margin-right:25px;
  width:100%;
  text-align: center;
}

.actions-toggle{
  padding:20px;
  color: white !important;
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
  border-radius: 50%;
  transition:0.5s;
  cursor: pointer;
}
.actions-toggle-not-hover{
  background: #D23F31;
}
.actions-toggle-hover{
  color: #474747 !important;
  background: #EEE;
}

.success{
  background: #5CB85C !important;
}
.success:hover{
  background: red !important;
}

.warning{
  background: #F0AD4E !important;
}

.primary{
  background:#2A3F54 !important;
}

.purple{
  background: #8e41a2 !important;
}

.red{
  background: #D9534F !important;
}

.interaction{
  background: #54a9ff !important;
}
