.terapy {
  background: #65D39B;
}

.terapy-section {
  padding: 15px;
  background: #d2eade;
}

.terapy-block-title {
  /*background: #1ac39b !important;*/
  background: #65D39B;  /* fallback for old browsers */
  /*background: -webkit-linear-gradient(to right, #3EB382, #65D39B);  /* Chrome 10-25, Safari 5.1-6 */
  /*background: linear-gradient(to right, #3EB382, #65D39B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  transition: 0.3s;
}

.terapy-block-title-secondary {
  background: #668db5;
  transition: 0.3s;
}

.terapy-plain-block {
  background-color: rgb(46, 50, 78);
  color: white !important;
  border-radius: 5px;
}

.terapy-plain-block label {
  color: #d8d8d8;
}

.terapy-label-code {
  background-color: #2cd6cd;
  opacity: 0.50;
}

.terapy-territory {
  color: #1ac39b !important;
}

.terapy-divider-color {
  border-right-color: #436f99 !important;
}

.terapy-new-row {
  background: #c5eae0 !important;
  border-bottom: 1px solid #fefefe;
}

.terapy-divider-color {
  border-right-color: #13b293 !important;
}

.terapy-light .mat-checkbox-frame {
  border-color: white !important;
}

.terapy-dark .mat-checkbox-frame {
  border-color: rgba(0, 0, 0, .54) !important;
}

.terapy-light .mat-checkbox-checkmark-path {
  stroke: #1ac39b !important;
}

.terapy-dark .mat-checkbox-checkmark-path {
  stroke: #fafafa !important;
}

.terapy-dark.mat-checkbox-checked.mat-accent .mat-checkbox-background, .terapy-dark.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #1ac39b !important;
}

.terapy-light.mat-checkbox-checked.mat-accent .mat-checkbox-background, .terapy-light.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: white !important;
}

.terapy-dark.mat-checkbox:not(.mat-checkbox-disabled).mat-accent .mat-checkbox-ripple .mat-ripple-element {
  background-color: rgba(26, 195, 155, .20) !important;
}

.terapy-dark.mat-checkbox:not(.mat-checkbox-disabled).mat-warn .mat-checkbox-ripple .mat-ripple-element {
  background-color: rgba(26, 195, 155, .20) !important;
}

.terapy-light.mat-checkbox:not(.mat-checkbox-disabled).mat-accent .mat-checkbox-ripple .mat-ripple-element {
  background-color: rgba(255, 255, 255, .20) !important;
}

.terapy-light.mat-checkbox:not(.mat-checkbox-disabled).mat-warn .mat-checkbox-ripple .mat-ripple-element {
  background-color: rgba(255, 255, 255, .20) !important;
}

.mat-input-underline .mat-input-ripple {
  background-color: #1ac39b;
}

.mat-option.mat-selected {
  color: #1ac39b;
}

.mat-select:focus:not(.mat-select-disabled) .mat-select-underline {
  background-color: #1ac39b;
}

.mat-select:focus:not(.mat-select-disabled) .mat-select-arrow {
  color: #1ac39b;
}

.terapy-tr-dragged {
  border: 2px dashed #1ac39b !important;
  background-color: #e0e0e0 !important;
}
