.wave {
  background: #218FB0;
}

.wave-section {
  padding: 15%;
  background: #c8dfe6;
}

.wave-block-title {
  /*background: #668db5 !important;*/
  background: #218FB0;  /* fallback for old browsers */
  /*background: -webkit-linear-gradient(to right, #1F699E, #218FB0);  /* Chrome 10-25, Safari 5.1-6 */
  /*background: linear-gradient(to right, #1F699E, #218FB0);*/ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  transition: 0.3s;
}

.wave-block-title-secondary {
  background: #668db5;
  transition: 0.3s;
}

.wave-plain-block {
  background-color: rgb(46, 50, 78);
  color: white !important;
  border-radius: 5px;
}

.wave-plain-block label {
  color: #d8d8d8;
}

.wave-label-code {
  background-color: #81abd4;
  opacity: 0.50;
}

.wave-divider-color {
  border-right-color: #436f99 !important;
}

.wave-new-row {
  background: #94b5d4 !important;
}
