.app-menu{
  position: fixed;
  float:left;
  top: 0;
  padding-top: 40px;
  min-height: 100vh;
  overflow:hidden;
  box-shadow: 0 1px 5px rgba(0,0,0,0.16), 0 1px 5px rgba(0,0,0,0.23);
  z-index: 10000;
}

.extend{
  width: 230px;
  transition:0.3s;
}

.reduce{
  width:0;
  transition:0.3s;
}
